*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.form-control:focus {
  border-color: none;
  box-shadow: none;
} 

.form-control:active {
  border-color: none;
}